{% extends 'base.html' %}
{% load static %}
{% block title %}Galería - Kargo{% endblock %}

{% block content %}
    <h1>Galería de Imágenes</h1>

    <div class="row"> 
        <div class="col-md-4"> 
            <img src="https://images.pexels.com/photos/5486823/pexels-photo-5486823.jpeg" alt="galleryKarting01" class="img-fluid"> 
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/12797365/pexels-photo-12797365.jpeg" alt="galleryKarting02" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/8153586/pexels-photo-8153586.jpeg" alt="galleryKarting03" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/9007066/pexels-photo-9007066.jpeg" alt="galleryKarting04" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/14438988/pexels-photo-14438988.jpeg" alt="galleryKarting05" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/20798136/pexels-photo-20798136/free-photo-of-hombres-sentado-conduciendo-conduccion.jpeg" alt="galleryKarting06" class="img-fluid">
        </div>
    </div>
{% endblock %}